* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background: rgba(128, 128, 128, 0.477);
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  width: 100%;
  text-align: center;
}

header h1 {
  margin: 50px 0px 30px 0px;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: #c060d3;
}

.auto-typed {
  color: #d4e51d;
}

header p {
  font-size: 25px;
  color: rgb(105, 103, 100);
}

.pads {
  background: lightblue;
  display: flex;
  width: 100%;
}

.pads > div {
  flex: 1;
  height: 100px;
}

.box-1 {
  background: #60d394;
}

.box-2 {
  background: #d36060;
}

.box-3 {
  background: #c060d3;
}

.box-4 {
  background: #d3d160;
}

.box-5 {
  background: #606bd3;
}

.box-6 {
  background: #60c2d3;
}

.box-7 {
  background: #a76770;
}

.box-8 {
  background: #60d355;
}

.visual > div {
  position: absolute;
  bottom: 0%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: scale(1);
  z-index: -1;
}

@keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }
  50% {
    bottom: 50%;
    left: 50%;
  }
  100% {
    bottom: 00%;
    left: 80%;
  }
}
